<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=руфвук, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Jim+Nightshade&family=Montserrat+Alternates&family=Playfair+Display&family=Poppins:ital,wght@0,700;1,200;1,300;1,400&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header class=" flex header">
    <h1>Лабораторна робота №10</h1>
    <h2>Виконав: Нестеренко Дмитро Дмитрович</h2>
  </header>
  <main class="flex main">
    <h2>Завдання лабороторної роботи</h2>
    <p class="main_text">
      Необхідно написати проект на фремворку Angular, який
визначає потрапляння крапки на координатній площині в задану область чи ні
відповідно до варіанту завдань, і вміщує HTML-сторінку, яка формує дані для
відправки їх на обробку</p>
    <div class="img_cont">
      <img src="../assets/images/graph.png" alt="">
    </div>
    <app-bob></app-bob>
    </main>

</body>
</html>